name: Run Python UnitTests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Checkout Repo Code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/abbfreeathome/dev-requirements.txt

      - name: Install abbfreeathome Python Package
        run: |
          pip install .
          
      - name: Test with pytest
        run: |
          pytest \
            --doctest-modules \
            --junitxml=junit/test-results.xml \
            --cov=abbfreeathome \
            --cov-report=xml:coverage/coverage.xml \
            --cov-report=html:coverage/htmlcov

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/coverage.xml
          badge: true
          format: markdown
          output: both

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          hide_and_recreate: true
          path: code-coverage-results.md

      - name: Write Coverage to Job Summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5.0.0-a03
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: junit/test-results.xml
          detailed_summary: true
          comment: true